<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Media Queries Practice</title>

    <link rel="stylesheet" href="07-media-queries.css">
</head>

<body>

    <header class="header">
        <h1>Full Stack Developer</h1>
        <p>Responsive Design Practice</p>
    </header>

    <main class="container">

        <div class="card">
            <h2>HTML</h2>
            <p>Structure of the web.</p>
        </div>

        <div class="card">
            <h2>CSS</h2>
            <p>Design and layout of the web.</p>
        </div>

        <div class="card">
            <h2>JavaScript</h2>
            <p>Behavior and interactivity.</p>
        </div>

    </main>

</body>
</html>